---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{
      text: 'About mua',
      href: '/about',
      icon: 'tabler:user',
    }}
  >
    <Fragment slot="title">
      Hi, I'm <span class="text-accent dark:text-white highlight"> Pablo</span> 😎
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">&lt;pqzada /&gt;</span> is my personal website where I will be sharing things like my
        resume, the applications I am working on, and some articles on tech topics.
      </span>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="My app projects"
    subtitle="A list of the apps that I'm working on..."
    highlight="Apps"
    items={[
      {
        title: 'Smartodo',
        description:
          "I'm very organize and always looking ways to manage my tasks. This is a TODO app that have some GTD features.",
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Budgetman',
        description:
          'Simple application that helps you to keep track of a budget. It can be a specific budget or a periodic one.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Lorem ipsum',
        description: 'I added this card just to complete the row... But the reality is that I only have 2 🤪.',
        icon: 'flat-color-icons:document',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="I have some articles... Check out my blog!"
    information={`I'm always trying new stuffs 🧠, so if I found something interesting to share, I'm going to add it here 🤙... 
    Some of the topics that I could consider are: GCP, Backstage, ReactJS, Laravel, Architecture.
		`}
  />
</Layout>
